<!DOCTYPE html>
<html ng-app='paranoia'>
  <head>
    <meta charset="utf-8" />
    <title>Time to worry!</title>
  </head>
  <body>
    <h1>It doesn't mean they're not after you</h1>
    <div ng-controller='ParanoiaController'>
    <form name='zipper' ng-submit="getData()">
      <input name='zip' type='text' ng-model="zipCode"
        placeholder="Enter your ZIP Code here" required
        />
      <button type="submit" value="zip">submit</button>
    </form>
    <select data-ng-model='team' ng-change="getValue()">
      <option value="" disabled selected hidden>Pick the city closest to you</option>
      <option value="ATL">Atlanta</option>
      <option value="BAL">Baltimore</option>
      <option value="NE">Boston</option>
      <option value="BUF">Buffalo</option>
      <option value="CAR">Charlotte</option>
      <option value="CHI">Chicago</option>
      <option value="CIN">Cincinnati</option>
      <option value="CLE">Cleveland</option>
      <option value="DAL">Dallas</option>
      <option value="DEN">Denver</option>
      <option value="DET">Detroit</option>
      <option value="GB">Green Bay</option>
      <option value="HOU">Houston</option>
      <option value="IND">Indianapolis</option>
      <option value="JAC">Jacksonville</option>
      <option value="KC">Kansas City</option>
      <option value="LOS">Los Angeles</option>
      <option value="MIA">Miami</option>
      <option value="MIN">Minneapolis</option>
      <option value="TEN">Nashville</option>
      <option value="NO">New Orleans</option>
      <option value="NYC">New York</option>
      <option value="OAK">Oakland</option>
      <option value="PHI">Philadelphia</option>
      <option value="ARI">Phoenix</option>
      <option value="PIT">Pittsburgh</option>
      <option value="SF">San Francisco</option>
      <option value="SEA">Seattle</option>
      <option value="TB">Tampa</option>
      <option value="WAS">Washington, DC</option>
    </select>
    </div>



    <div ng-view></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>

    <script src="app/app.js"></script>
      <script src="app/results/results.js"></script>
  </body>
</html>