[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  color: white;
  background-image: url(http://img3.rnkr-static.com/list_img_v2/7286/1907286/full/best-songs-about-paranoia.jpg);
  background-size: cover;
}
